include app/resources/ui/*.glade 
include app/resources/styles/*.css 
include app/resources/img/logo/*.png 
include app/resources/img/utils/*.png 
include app/resources/img/flags/large/*.jpg 
include app/resources/img/flags/small/*.png 