[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = ">=2.23.0"
pycairo = "*"
pygobject = "*"
protonvpn-cli = "==2.2.2"
configparser = ">=4.0.2"
