[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pycairo = "*"
pygobject = "*"
protonvpn-cli = "==2.2.2"

[packages]
requests = "*"

[requires]
python_version = "3.8"
