headerbar.default-decoration {
    padding-top: 3px;
    padding-bottom: 3px;
    min-height: 0px;
    font-size: 0.8em;
    background-color: green;
}

.default_background{
    background-color: rgba(62, 68, 73, 1);
    color: white;
}
.white_text{
    color: white;
}

.initialize_profile_btn{
    background-color: transparent;
    color: white;
    padding: 10px 50px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}

.banner_shadow{
    box-shadow: 64px 64px 12px 40px rgba(0,0,0,0.4);
}

.default_main_tab_conf{
    padding: 20px 70px;
    /* background-color: transparent; */
    color: white;
    margin-top: -6px;
    margin-bottom: -6px;
    transition: all .115s ease-in-out;
}

.active_tab{
    background-color: rgba(62, 68, 73, 1);
}

.inactive_tab{
    background-color: rgba(55, 61, 66, 1);
    color: gray;
}

.left_tab{
    border-top-right-radius: 80px;
    margin-left: -20px;
    margin-right: -25px;

}
.right_tab{
    border-top-left-radius: 80px;
    margin-right: -20px;
}

.countries_tab_content{
    padding: 10px 15px;
    transition: all 5s ease-in-out;
}

.profiles_tab_content{
    padding: 10px 15px;
}

.profile_grid{
    padding: 20px;
}

.profile_buttons{
    padding: 5px 5px;
    background-color: rgba(68, 73, 78, 1);
}

/* Settings */
.settings_label_bg{
    background-color: rgba(45, 51, 56, 1);
}
.settings_label{
    padding: 30px 50px;
}

.settings_notebook_grid{
    padding: 30px 100px;
    padding-bottom: 200px;
}

.default_settings_tab_conf{
    padding: 15px 90px;
    /* background-color: transparent; */
    margin-top: -6px;
    margin-bottom: -6px;
    transition: all .115s ease-in-out;
}

.settings_left_tab{
    border-top-right-radius: 80px;
    margin-left: -20px;
    margin-right: -25px;
}
.settings_center_tab{
    margin-left: -10px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

.settings_right_tab{
    border-top-left-radius: 80px;
    margin-left: -33px;
    margin-right: -20px;
}
